{% for block in section.blocks %}
  {% case block.type %}
    {% when 'hero-banner' %}
      <div>blah b.jkcjasnc</div>
  {% endcase %}
{% endfor %}

{% schema %}
{
  "name": "Hero-Banner",
  "blocks": [
    {
      "type": "hero-banner",
      "name": "Hero-Banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Hero Image"
        },
         {
          "type": "text",
          "id": "heading-text",
          "default": "heading text",
          "label": "Heading"
        },
         {
          "type": "text",
          "id": "heading-description",
          "default": "Massage has a positive effect on every medical condition we have looked at massage is to work and act on the body with pressure.",
          "label": "Heading Description"
        },
         {
          "type": "text",
          "id": "button_text",
          "default": "Button",
          "label": "Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Url"
        }
      ]
    }

  ],
      "presets": [
    {
      "name": "Hero Bnner",
      "blocks": [
        {
          "type": "hero-banner"
        }
      ]
    }
  ]
}
{% endschema %}
