<div>
  <img src="{{ section.settings.image | image_url:"master"}}">
</div>

{% schema %}
{
  "name": "image_banner",
  "settings": [
{
  "type": "image_picker",
  "id": "image",
  "label": "Image"
}
]
}
{% endschema %}
